
<div class="container bg-light py-4 my-2" style="background-color: #d4c4bc">
    <p>Your name: {{fullName}}</p>
    <p>Your Email: {{userEmail}}</p>
    <p>Your Phone Number: {{phoneNumber}}</p>
    <p>About Yourself: {{phoneNumber}}</p>
    <p>Your Marrital Status: {{phoneNumber}}</p>
    <p>How do you wish to make your application?: {{phoneNumber}}</p>
    <p>What is the Loan Amount You are requesting?(In dollars) : {{phoneNumber}}</p>
    <p>Your Phone Number: {{phoneNumber}}</p>
    <p>Choosen loan payment plan: {{phoneNumber}}</p>
    <p>Your total monthly income? {{phoneNumber}}</p>

    

</div>